.products_page{
    background-color: gray;
    padding-left: 10px;
}
.products_page h1{
    color: wheat;
    text-align: center;
    font-size: 4rem;
    font-weight: 200;
    /*box-shadow: rgba(7, 7, 7, 0.25) 0px 54px 55px, rgba(117, 113, 113, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;*/
}
.items{
    padding-bottom: 10px;
}